.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  transition-property: color;
}

.footer__column-link:hover {
color: #515355;
opacity: 0.7;
}